html {
	background: #666;
	height: 100%;
}

body {
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	-opera-border-radius:25px;
	border-radius:25px;
	margin: 0; 
	padding: 0;
	border: 0 solid black;
	color: white;
	top: -5px;
	bottom: -5px;
	left: -5px;
	right: -5px;
	position: absolute;
	border: 10px solid #666;
	overflow: hidden;

	font-size: 12px;
	font-family: sans-serif;
}

#background {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1000;
}

#header {
	margin: 0;
	padding: 10px 0 0 10px;
}
	
#leftpanel, #rightpanel {
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-opera-border-radius: 11px;
	border-radius: 11px;

	background: #404040;
	padding: 0;
	margin: 10px;
	position: absolute;
	top: 30px;
	bottom: 27px;
}


#leftpanel {
	left: 0;
	right: 495px;
	padding: 10px 0 10px 0;
}

#leftpanel iframe {
	border: 0px none;
	width: 100%;
	height: 100%;
}

#rightpanel {
	right: 0;
	width: 480px;
	float: right;
	padding: 0;
}

#playlist {
	background: #eeeeee;
	color: black;
	overflow: auto;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 151px;
	bottom: 30px;
	width: 100%;
}

#playlist-filler {
	height: 1000px;
}

#prevbutton, #playbutton, #nextbutton, #repeatbutton, #shufflebutton, #volupbutton, #voldownbutton {
	display: inline-block;
	width: 31px;
	height: 22px;
	margin: 12px 0 0 0;
	padding: 0;
	background-image: url(../images/controls.gif);
	background-repeat: no-repeat;
}

#volupbutton, #voldownbutton {
	width: 27px;
}
#prevbutton { margin-left: 12px; }
#nextbutton { margin-right: 8px; }
#voldownbutton {
	margin-left: 50px;
}

#volumebar {
	display: inline-block;
	width: 91px;
	height: 22px;
	margin: 12px 0 0 0;
	padding: 0;
	background-image: url(../images/volume_levels.gif);
	background-repeat: no-repeat;
}

#prevbutton {			background-position: 0px 0px; }
#prevbutton:hover {		background-position: 0px -22px; }
#prevbutton:active {		background-position: 0px -44px; }
#prevbutton.disabled {		background-position: 0px -66px; }
#playbutton {			background-position: -62px 0px; }
#playbutton:hover {		background-position: -62px -22px; }
#playbutton:active {		background-position: -62px -44px; }
#playbutton.disabled {		background-position: -62px -66px; }
#playbutton.pause {		background-position: -93px 0px; }
#playbutton.pause:hover {	background-position: -93px -22px; }
#playbutton.pause:active {	background-position: -93px -44px; }
#playbutton.pause.disabled {	background-position: -93px -66px; }
#nextbutton {			background-position: -31px 0px; }
#nextbutton:hover {		background-position: -31px -22px; }
#nextbutton:active {		background-position: -31px -44px; }
#nextbutton.disabled {		background-position: -31px -66px; }
#repeatbutton {			background-position: -124px 0px; }
#repeatbutton:hover {		background-position: -124px -22px; }
#repeatbutton:active {		background-position: -124px -44px; }
#repeatbutton.disabled {	background-position: -124px -66px; }
#repeatbutton.r1 {		background-position: -155px 0px; }
#repeatbutton.r1:hover {	background-position: -155px -22px; }
#repeatbutton.r1:active {	background-position: -155px -44px; }
#repeatbutton.r1.disabled {	background-position: -155px -66px; }
#repeatbutton.r2 {		background-position: -186px 0px; }
#repeatbutton.r2:hover {	background-position: -186px -22px; }
#repeatbutton.r2:active {	background-position: -186px -44px; }
#repeatbutton.r2.disabled {	background-position: -186px -66px; }
#shufflebutton {		background-position: -217px 0px; }
#shufflebutton:hover {		background-position: -217px -22px; }
#shufflebutton:active {		background-position: -217px -44px; }
#shufflebutton.disabled {	background-position: -217px -66px; }
#shufflebutton.s1 {		background-position: -248px 0px; }
#shufflebutton.s1:hover {	background-position: -248px -22px; }
#shufflebutton.s1:active {	background-position: -248px -44px; }
#shufflebutton.s1.disabled {	background-position: -248px -66px; }
#shufflebutton.s2 {		background-position: -279px 0px; }
#shufflebutton.s2:hover {	background-position: -279px -22px; }
#shufflebutton.s2:active {	background-position: -279px -44px; }
#shufflebutton.s2.disabled {	background-position: -279px -66px; }
#voldownbutton {		background-position: -310px 0px; }
#voldownbutton:hover {		background-position: -310px -22px; }
#voldownbutton:active {		background-position: -310px -44px; }
#voldownbutton.disabled {	background-position: -310px -66px; }
#volupbutton {			background-position: -337px 0px; }
#volupbutton:hover {		background-position: -337px -22px; }
#volupbutton:active {		background-position: -337px -44px; }
#volupbutton.disabled {		background-position: -337px -66px; }
a:active {
	border: 0px none;
	outline: 0px none;
}

#cscover {
	display: block;
	float: left;
	clear: left;
	background: #382214;
	width: 96px;
	height: 96px;
	border: 0px none;
	margin: 9px 6px 0 12px;
}

#cstitle, #csartist, #csalbum {
	display: block;
	color: #dddddd;
	font-size: 12px;
	text-decoration: none;
}

#cstitle a, #csartist a, #csalbum a {
	color: #dddddd;
	text-decoration: none;
}

#cstitle a:hover, #csartist a:hover, #csalbum a:hover {
	text-decoration: underline;
}

#cstitle {
	margin: 9px 0 0 12px;
	font-size: 13px;
	font-weight: bold;
}

#csalbum {
	font-size: 11px;
	margin: 20px 0 0 12px;
}

#csartist {
	font-size: 11px;
	margin: 0 0 0 12px;
}




#playlist ul {
	margin: 0 6px;
	padding: 0;
	border: 0;
}

#playlist ul li {
        list-style: none inside;
        margin: 0;
        border: 0px solid #eeeeee;
	padding: 7px 5px 3px 76px;
	height: 50px;
        
        -moz-border-radius:5px;
        -webkit-border-radius: 5px;
        -opera-border-radius: 5px;
        border-radius: 5px;
	font-size: 11px;
}   

#playlist ul li:hover {
        background: #999999;
}
#playlist ul li:hover a {
	color: white;
}

#playlist ul li a {
	text-decoration: none;
	color: #333333;
}

#playlist ul li a:hover {
	text-decoration: underline;
}

.delbutton, .delbutton:active, .playbutton, .playbutton:active {
        width: 17px;
        height: 17px;
        border-color: transparent;
        border-style: solid;
        -webkit-background-clip: padding;
        -moz-background-clip: padding;
        background-clip: padding;
        margin: 0;
        padding: 0;
        float: right;
        position: relative;
        top: -6px;
        left: 6px;
        background-repeat: no-repeat;
        background-image: url(../images/browse.gif);
}

.delbutton, .delbutton:active {
        background-position: -51px -25px;
        border-width: 4px 3px 4px 2px;
	margin-right: 3px;
}

.playbutton, .playbutton:active {
        background-position: -17px -25px;
        border-width: 4px 2px 4px 2px;
}


#playlistul li .delbutton, #playlistul li .playbutton {
        display: none;
}

#playlistul li:hover .delbutton, #playlistul li:hover .playbutton {
        display: inline-block;
}

