<?template THome () ?>
<html>
<head>
<link rel="stylesheet" href="${Conf.static}/css/sing-browse.css" type="text/css" />
</head>
<body>

<div id="browseheader">
 <div id="searchbox"><form method="post" action="/search/"><input type="text" name="q"/></form></div>
 Home
</div>

<div id="browsecontent">

 <ul class="browselist homelist">
  <li id="homeartists"><a href="/browse/artists/"><span class="i"> </span><span>Artists</span></a></li>
  <li id="homealbums"><a href="/browse/albums/"><span class="i"> </span><span>Albums</span></a></li>
  <li id="homegenres"><a href="/browse/genres/"><span class="i"> </span><span>Genres</span></a></li>
  <li id="homeyears"><a href="/browse/years/"><span class="i"> </span><span>Years</span></a></li>
  <li id="homenew"><a href="/browse/new/"><span class="i"> </span><span>New Music</span></a></li>
  <li id="homerandom"><a href="/browse/random/"><span class="i"> </span><span>Random Mix</span></a></li>
  <li id="homefolder"><a href="/browse/folder/"><span class="i"> </span><span>Music Folder</span></a></li>
  <li id="homeplaylists"><a href="/browse/playlists/"><span class="i"> </span><span>Playlists</span></a></li>
  <li id="homesearch"><a href="/search/"><span class="i"> </span><span>Search Music</span></a></li>
 </ul>

</div>

<div id="browsefooter">...</div>

</body>
</html>
