<?template TIndex { players, initialPlaylist, initialStatus } ?>
<html>
<head>
<link rel="stylesheet" href="${Conf.static}/css/sing.css" type="text/css"/>
<title>Sing</title>
</head>
<body>

<img src="${Conf.static}/images/background.png" id="background" />

<div id="header">
 Player:
 <select name="player" id="player">
  <option t:for="{ id, name } in players" value="${id}">${name}</option>
 </select>
</div>

<div id="leftpanel">
 <iframe src="${Conf.static}/home.html" name="browseframe" id="browseframe"> </iframe>
</div>

<div id="rightpanel">
 <a href="#" id="prevbutton" class="disabled"> </a><a
    href="#" id="playbutton" class="disabled pause"> </a><a
    href="#" id="nextbutton" class="disabled"> </a><a
    href="#" id="repeatbutton" class="disabled"> </a><a
    href="#" id="shufflebutton" class="disabled"> </a>

 <br/>
 <div id="cscover"> </div>
 <span id="cstitle"> </span>
 <span id="csalbum"> </span>
 <span id="csartist"> </span>

 <div id="playlist">
  <ul id="playlistul">$H{initialPlaylist}</ul>
 </div>
</div>

<script type="text/javascript">var initialStatus = $H{initialStatus};</script>

<script type="text/javascript" src="${Conf.static}/js/jquery-1.2.6.min.js"> </script>
<script type="text/javascript" src="${Conf.static}/js/sing.js"> </script>

</body>
</html>

