<?template TSearch (q, results) ?>
<html>
<head>
<link rel="stylesheet" href="${Conf.static}/css/sing-browse.css" type="text/css" />
</head>
<body>

<div id="browseheader">
 <div id="searchbox"><form method="post" action="/search/"><input type="text" name="q" value="${q}"/></form></div>

 Search
</div>

<p id="browsepath">
 <a href="${Conf.static}/home.html">Home</a> &gt; <a href="/search/">Search</a>
</p>

<div id="browsecontent" class="pathbar">

 <form method="post" action="/search/">
  <input type="text" name="q" value="${q}" />
  <input type="submit" value="Search" />
 </form>

 <div t:ifOption="results as { artists, albums, songs, itime, ttime }"
      t:strip="">

  <div t:if="case artists of nil => false | _ => true" t:strip="">
   <p>Artists matching "${q}": ${Int.toString (length artists)}</p>
   <ul class="browselist">
    <t:for exp="artists" pattern="{ id, name, mm_mixable, mb_id }">$H{
      TListItem.render (Int.toString id, name, SOME "/browse/artists/", "artist.id=")
    }</t:for>
   </ul>
  </div>

  <div t:if="case albums of nil => false | _ => true" t:strip="">
   <p>Albums matching "${q}": ${Int.toString (length albums)}</p>
   <ul class="browselist">
    <t:for exp="albums" pattern="{ id, name, compilation, mm_mixable, mb_id }">$H{
      TListItem.render (Int.toString id, name, SOME "/browse/albums/", "album.id=")
    }</t:for>
   </ul>
  </div>

  <div t:if="case songs of nil => false | _ => true">
   <p>Songs matching "${q}": ${Int.toString (length songs)}</p>
   <ul class="browselist">
    <li t:for="{ id, tracknum, title, album, artists } in songs">
     <a href="javascript:top.Sing.ctl.add('track.id=${Int.toString id}')" class="addbutton"> </a><a
        href="javascript:top.Sing.ctl.play('track.id=${Int.toString id}')" class="playbutton"> </a>
     <a href="/browse/song/${Int.toString id}/">${title}</a>
     <t:ifOption exp="album" pattern="{id = aId, title = aTitle}">
      from <a href="/browse/albums/${Int.toString aId}/">${aTitle}</a>
     </t:ifOption>
     <t:case exp="artists">
      <t:of pattern="nil" />
      <t:of pattern="_">
       by <t:for exp="artists" pattern="{ id, name }" sep=", "><a
             href="/browse/artists/${Int.toString id}/">${name}</a></t:for>
      </t:of>
     </t:case>
    </li>
   </ul>
  </div>

  <div t:if="case (artists, albums, songs) of (nil, nil, nil) => true | _ => false">
   No search results.
  </div>

  <p>
   Time: ${Real.toString ((Time.toReal itime) * 1000.0)} ms index,
         ${Real.toString ((Time.toReal ttime) * 1000.0)} ms total
  </p>

 </div>

</div>

<div id="browsefooter">...</div>

</body>
</html>
